<h1><%= @recipe.title %>!!</h1>

<a href='<%= "/recipe/#{@recipe.id}/edit" %>'>Edit this recipe </a>


<br>
<h3>Ingredients</h3>

<ol>
  <% @recipe.ingredients.each() do |ingredient| %>
  <li>
    <%= ingredient.name %>
  </li>
  <% end %>
</ol>

<h3>Instructions</h3>

<p><%= @recipe.instructions %></p>

<h3>Categories</h3>

<ol>
  <% @recipe.categories.each() do |category| %>
  <li>
    <%= category.name %>
  </li>
  <% end %>
</ol>

<a href='/'>Go Back</a>
